.grid{
 display: flex;   
flex-wrap: wrap; 
justify-content: space-between;
align-content: space-around ;
} 


.card{

border-radius: 26px;
border-color: chartreuse;
border-width: 2px;
background-color: cyan;

}




.menu{
    display: flex;
    
  
  background-color: chartreuse;
    justify-content: space-between;
padding: 20px;








}
